<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div style="display: flex; justify-content: center; ">
    <div style="display: flex; flex-direction: column; max-width: 200px; align-items: center">
      <h2>Login</h2>
      <input type="text" id="inputUsuario" placeholder="usuário" style="margin-bottom: 10px;" />
      <input type="text" id="inputSenha" placeholder="senha" style="margin-bottom: 10px;" />
      <button style="margin-bottom: 10px;" id="buttonEntrar">entrar</button>
      <label id="labelErro" style="color: red;"></label>
    </div>
  </div>
</body>
<script src="login.js" type="module"></script>
</html>