<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>
</head>
<body>
    <h3 style="text-align: center;">Secretaria</h3>
    <section style="display: flex; justify-content: center;">
     <menu style="display: flex; flex-direction: column; width: 200px;">
      <button><a href="../cadastro/cadastro-usuario.html">Cadastrar Usuário</a></button>
      <button><a href="../cadastro/disciplina/cadastro-disciplina.html">Cadastrar Disciplina</a></button>
      <button><a href="../cadastro/turma/cadastro-turma.html">Cadastrar Turma</a></button>
      <button><a href="../edicao/turma/configura-turma.html">Configurar Turma</a></button>
      <button><a href="../edicao/disciplina/editar-disciplina.html">Configurar Disciplina </a></button>
      <button><a href="../edicao/turma/editar-aluno-turma.html">Editar Alunos por Turma </a></button>
      <button><a href="../usuario/professor/professor.html">Área do professor </a></button>
     </menu>   
    </section>
</body>
<script src="/view/secretaria/secretaria.js" type="module"></script>
</html>