<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>
</head>

<body>
    <h3 style="text-align: center;">Cadastro de Usuario</h3>
    <div style="display: flex; justify-content: center;">
        <div style="display: flex; flex-direction: column; width: 200px;">
            <input type="text" id="inputNomeDeUsuario" placeholder="nome de usuário" />
            <select name="" id="selectUsuario">
                <option value="Aluno">Aluno</option>
                <option value="Professor">Professor</option>
                <option value="Auxiliar">Auxiliar</option>
            </select>
            <button id="buttonSalvar">salvar</button>
            <a id="aVoltar" href="../secretaria/secretaria.html">voltar</a>
            <label id="labelErro" style="color: red;"></label>
        </div>
    </div>
</body>

<script src="../cadastro/cadastro-usuario.js" type="module"></script>

</html>