<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Disciplina</title>
</head>
<body>
    <h3 style="text-align: center">Cadastro de Disciplina</h3>
    <div style="display: flex; justify-content: center">
        <div style="display: flex; flex-direction: column; width: 200px">
            <input
            type="text"
          id="inputCadastroDisciplina"
          placeholder="Entre com a disciplina"
          />
          <button id="buttonSalvar">salvar</button>
          <a id="aVoltar" href="/view/secretaria/secretaria.html">voltar</a>
          <label id="labelErro" style="color: red"></label>
        </div>
    </div>
</body>
<script src="../disciplina/cadastro-disciplina.js" type="module"></script>
</html>
