<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Turma</title>
</head>
<body>
    <body>
        <h3 style="text-align: center;">Cadastro de Turma</h3>
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; width: 200px;">
                <input type="text" id="inputCadastroTurma" placeholder="Entre com a turma" />
                <button id="buttonSalvar">salvar</button>
                <a id="aVoltar" href="/view/secretaria/secretaria.html">voltar</a>
                <label id="labelErro" style="color: red;"></label>
            </div>
        </div>   
</body>
<script src="../turma/cadastro-turma.js" type="module"></script>
</html>