<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escola Faz de conta</title>
</head>

<body>
  <section style="text-align: center;">
    <h3>Bem vindo à escola Faz de Conta</h3>
    <p>Eventos e fatos relevantes sobre a escola</p>
    <p>Faça o login para ter acesso à página de usuário</p>
    <a href="auth/login.html">login</a>
  </section>
</body>
<script src="index.js" type="module"></script>

</html>